@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
}

body {
    z-index: 1;
    /*min-width: 1450px;*/
}

.container {
    max-width: 1450px;
    margin: 0 auto;
}

@media (max-width: 1450px) {
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.black {
    background-color: #030303;
}

.white {
    background: white;
}

.gold {
    color: #9D8665;
}

.white-gold {
    color: rgb(202, 170, 125);
}

.font-forum {
    font-family: 'Forum', cursive;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.font-weight-thm {
    font-weight: 100;
}

section {
    display: flex;
    width: 100%;
}

/*.section_div {*/
/*    margin: 0 auto;*/
/*}*/

:root {
    --header-outer-height: 200px;
    --header-inner-height: 80px;
    --header-height-difference: calc(
            var(--header-outer-height) - var(--header-inner-height)
    );
}

header {
    display: flex;
    align-items: center;
    height: var(--header-outer-height);
    position: sticky;
    top: calc(
            var(--header-height-difference) * -1
    ); /* Multiply by -1 to get a negative value */
    z-index: 2;
    width: 100%;
}

.header__logo {
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-left: 200px;
}

.header {
    display: flex;
    align-items: center;
    height: var(--header-inner-height);
    /*height: 200px;*/
    position: sticky;
    top: 0;

    justify-content: space-around;
    border-radius: 0;
    /*height: var(--header-inner-height);*/
}

.header__logo:before {
    display: block;
    position: relative;
    bottom: 2px;
    content: ' ';
    background-image: url('../image/Vector1.svg');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    height: 54px;
    width: 54px;
    margin-right: 13em;
}

ol, ul {
    list-style: none;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0;
    width: 700px;
    padding: 0 213px 0 400px;
}

.header_container--list {
    display: flex;
}

.header__navigation li {
    margin: 0 40px 0 40px;
}

.header__logo-font {
    position: absolute;
    width: 125px;
    height: 50px;
    left: 65px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    color: #FFFFFF;
    letter-spacing: 5px;
}

.header-font {
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.welcome {
    height: 560px;
}

.welcome-bg {
    background: #030303 url("../image/welcom.jpg") no-repeat center right;
}

.welcome__title {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: pre;
}

.welcome__text {
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-top: 30px;
}

.welcome-button {
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    border: none;
    background: #710707;
    border-radius: 10px;
    width: 360px;
    height: 75px;
    margin-top: 70px;
}

.btn-content-center {
    justify-content: center;
}

.title__hr {
    height: 3px;
    left: 0;
    margin-top: 20px;
    background: #710707;
    border-radius: 0;
    border: none;
}

hr {
    width: 300px;
    height: 2px;
    left: 0;
    top: 354px;
    border: none;
    background: #710707;
    border-radius: 0;
}

.tour__hr {
    width: 1450px;
    height: 3px;
}

.tour {
    height: 1120px;
}

article h3 {
    width: 440px;
    height: 35px;
    left: 0;
    top: 310px;

    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 10px;
}

.tour__text {
    width: 165px;
    height: 26px;
    left: 0;
    top: 366px;

    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 5px;
}

.tour__text + p {
    width: 300px;
    height: 21px;
    left: 0;
    top: 402px;
    margin-top: 10px;

    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.articles {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

article {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 80px 65px 0 0;
}

article:nth-child(3)
{
    padding: 80px 0 0 0;
}

article:nth-child(6)
{
    padding: 80px 0 0 0;
}

.explore__hr {
    width: 670px;
    height: 3px;
    margin-top: 25px;
    margin-bottom: 75px;
}

.explore__text {
    width: 650px;
    height: 77px;
    left: 0;
    top: 193px;
    padding-bottom: 25px;

    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;

    color: #FFFFFF;
}

.explore__text-p3 {
    width: 670px;
}

.video__text {

    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    margin-top: 10px;
    line-height: 38px;
}

.video-content {
    padding: 33px 60px 5px 0;
}

.tickets {
    padding: 5px 0 0 0;
}

.tickets__title {

    font-style: normal;
    font-size: 28px;
    line-height: 33px;
    margin-left: 20px;
    color: #FFFFFF;
}

.tickets__text {

    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    padding: 10px 0 0 0;

    color: #FFFFFF;
}

.tickets__title ~ div {
    padding: 50px 0 0 0;
}

.tickets__title ~ div label {
    margin: 0 0 0 20px;
}

.tickets__hr {
    width: 1446px;
    height: 3px;
    margin-top: 25px;
    margin-bottom: 65px;
}

.ticket-type {
    margin-left: 30px;
}

.tickets__amount {
    text-align: right;
    margin-right: 10px;
}

.tickets__title ~ div p {
    text-align: left;
    margin: 0 0 0 220px;
}

.tickets__amount > div:nth-child(2) {
    padding-top: 2px;
}

.rectangle {

    margin-left: 220px;
    width: 135px;
    height: 30px;
    font-size: 28px;
    border: 3px solid white;
    white-space: pre;
    padding: 7px 3px 7px 3px;
    margin-top: 10px;
}

.tickets__amount  span {
    font-weight: bold;
}

.tickets__total {
    margin-top: 50px;
    letter-spacing: 1px;
}

#btn-buy {
    margin-top: 40px;
    width: 175px;
    height: 50px;

    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    color: #000000;
}

.tickets__amount p {
    margin-bottom: 15px;
}

.tickets__amount__senior {
    margin-top: -15px;
}

.contacts__hr {
    width: 1450px;
    height: 3px;
    margin-top: 25px;
    margin-bottom: 80px;
}

.contacts__title {
    width: 400px;

    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;

    color: #000000;
}

address {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    padding-top: 40px;
}

address p {
    padding-bottom: 20px;
}


.footer__text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0;

    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.footer__logo {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.icons img {
    padding-top: 4px;
    padding-left: 12px;
}

.icons div:nth-child(3) {
    padding-left: 5px;
}

.icons div {
    margin-left: 24px;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid #666666;
    border-radius: 50%;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 0px #666666);
}

.footer-title {
    display: flex;
    border-radius: 0;
    margin-top: -5px;
}

.footer-title:before {
    display: block;
    position: relative;
    bottom: 5px;
    content: ' ';
    background-image: url('../image/Vector1.svg');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    height: 54px;
    width: 54px;
    margin-right: 0.6em;
    margin-left: 5px;
}

.footer-elem1 {
    align-self: flex-start;
}

.flx-col-1 {
    align-self: flex-start;
    background: #fe4;
}

.icons div:hover {
    filter: invert(54%) sepia(17%) saturate(686%) hue-rotate(356deg) brightness(96%) contrast(84%);

}
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}
header a, footer a {
    color: #FFFFFF;
}

header a:hover, footer a:hover {
    color: #9D8665;
}

a:active {
    color: #9D8665;
}

.welcome-button:hover, #btn-buy:hover {
    background: #9D8665;
}

article:hover hr {
    width: 100%;
}

article hr {
    transition: 1s;
}

.form-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.form-radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #030303;
    border-radius: 100%;
    border: 2px solid white;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    position: relative;

    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.form-radio input[type="radio"]:checked + .radio-label:before {
    background-color: white;
    box-shadow: inset 0 0 0 4px #030303;
}
.form-radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: white;
}
.form-radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: white;
    background: white;
}
.form-radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}


